*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --c-red: #d90429;
  --c-red-light: #EF233C;
  --c-red-lighter: #fb465c;
  --c-gray-dark: #2B2D42;
  --c-gray: #b0c7ef;
  --c-gray-light: #EDF2F4;
  --c-white: white;
  --c-black: rgb(18, 18, 18);
  --c-blue-light: #3CA9EE;
  --c-green-blue: rgb(15, 149, 154);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--c-gray-light);
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 4fr 1fr;
  grid-template-columns: 7fr 2fr;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  background-color: var(--c-white);
  border-bottom: 2px solid var(--c-red);
}
.header__title {
  display: flex;
  padding: 1rem;
}
.header__icon {
  height: 30px;
  width: auto;
}
.header__text {
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--c-gray-dark);
}
.header .menu {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: var(--c-white);
}

.balls-board {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  list-style: none;
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--c-gray-dark);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: linear-gradient(180deg, #f1f1f1 0%, #ececec 16%, #aeaeae 100%);
  box-shadow: 2px 4px 6px 0px rgba(202, 202, 202, 0.75);
}

.selected {
  background: linear-gradient(180deg, #ffff0c 0%, #f2f200 20%, #dfb707 100%);
  color: var(--c-black);
  font-weight: bolder;
  font-size: 5.7rem;
}

.selected.animateSeleted {
  animation: moveBall 1.2s;
}

.ball:hover {
  border: 1px solid rgb(184, 179, 179);
}

.recent-ball {
  padding: 0 3rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: var(--c-gray-dark);
  overflow: hidden;
}
.recent-ball__ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 3px solid var(--c-gray);
  font-family: "Times New Roman", Times, serif;
  font-size: 8rem;
  font-weight: bolder;
  background: linear-gradient(180deg, #ffff0c 0%, #f2f200 20%, #dfb707 100%);
  color: var(--c-black);
}
.recent-ball__ball--1 {
  width: 12rem;
  height: 12rem;
  font-size: 8rem;
}
.recent-ball__ball--2 {
  width: 11rem;
  height: 11rem;
  font-size: 7rem;
  opacity: 0.8;
}
.recent-ball__ball--3 {
  width: 10rem;
  height: 10rem;
  font-size: 6rem;
  opacity: 0.6;
}
.recent-ball__ball--4 {
  width: 9rem;
  height: 9rem;
  font-size: 5rem;
  opacity: 0.4;
}
.recent-ball h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: var(--c-white);
}

.sitebar {
  grid-row: 2/4;
  grid-column: 2/3;
  background: linear-gradient(-45deg, var(--c-red) 0%, var(--c-red-light) 70%, var(--c-red-lighter) 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
}
.sitebar img {
  background: white;
  max-width: 15rem;
  height: auto;
  border-radius: 5px;
}

.celebration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transform: all cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.celebration__text {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  animation: scale 1.5s infinite;
}
.celebration__img {
  width: 100vw;
  height: 100vh;
}

.gameOptions {
  position: absolute;
  background-color: var(--c-white);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10rem;
}
.gameOptions .btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  max-width: 4rem;
  max-height: 7rem;
  float: right;
}
.gameOptions__game {
  max-width: 15rem;
  max-height: 15rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.gameOptions__game:hover {
  box-shadow: 4px 8px 12px var(--c-gray);
  transform: translateY(-2px) scale(1.1);
}
.gameOptions__game:active {
  transform: translateY(2px) scale(1);
}

.modalTimer {
  position: absolute;
  background-color: var(--c-gray-dark);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10rem;
  transition: all 0.1s;
}
.modalTimer .btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  max-width: 4rem;
  max-height: 7rem;
  float: right;
}
.modalTimer .time {
  display: flex;
  justify-content: space-around;
  border: 4rem;
}
.modalTimer .time h1 {
  width: 20rem;
  text-align: center;
  margin: 2rem;
  border-radius: 1rem;
  font-size: 40rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif, monospace;
  font-weight: 300;
  color: var(--c-red);
  text-decoration: solid;
  text-shadow: 1rem 5rem 2rem black;
  letter-spacing: 5rem;
}
.modalTimer .btn {
  background: var(--c-gray-dark);
}

.credits {
  width: 25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  color: gray;
  text-align: center;
}
.credits h3 {
  font-size: 0.8rem;
  font-weight: 200;
}
.credits h3 a {
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1rem;
}
.credits h3 a:hover {
  background-color: var(--c-gray-dark);
  color: var(--c-gray-light);
  transform: translate(-5px, 8px) scale(1.3) rotateZ(6deg);
}
.credits p {
  font-size: 0.7rem;
}
.credits a {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1px;
  color: rgb(156, 156, 156);
  transition: all 0.4s;
  display: inline-block;
}
.credits a img {
  width: 1.5rem;
  height: auto;
  display: inline-block;
  transition: all 0.3s;
  filter: invert(48%) sepia(3%) saturate(0%) hue-rotate(135deg) brightness(104%) contrast(93%);
}
.credits a :hover {
  transform: translateY(-2px) scale(1.5) rotateX(5deg);
  filter: none;
}

@keyframes moveBall {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: scale(6);
    opacity: 100%;
    cursor: none;
    box-shadow: none;
    border: 2px solid var(--c-gray-dark);
  }
  75% {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: scale(3);
    box-shadow: none;
    border: 5px solid var(--c-gray-dark);
  }
  90% {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-20rem, 25rem);
    box-shadow: none;
    border: 5px solid var(--c-gray-dark);
  }
  100% {
    opacity: 0%;
    cursor: none;
  }
}
@keyframes scale {
  0% {
    transform: scale(1) translateY(5rem);
  }
  50% {
    transform: scale(1.5) translateY(-5rem);
  }
  100% {
    transform: scale(1) translateY(5rem);
  }
}
@keyframes moveToRight {
  to {
    transform: translateX(5rem);
  }
}
.hide-modal {
  display: none !important;
}

.moveRight {
  animation: moveToRight 0.2s ease-in;
}

.inactive {
  filter: brightness(0.8) blur(2px) !important;
}

.btn {
  cursor: pointer;
  display: block;
  position: relative;
  border-radius: 0;
  min-width: 10rem;
  width: 25%;
  height: 90%;
  border: none;
  box-shadow: 1px 0px 4px var(--c-gray-dark);
  transition: all 0.2s ease-in-out;
  z-index: 50;
  background: linear-gradient(to right bottom, var(--c-white), var(--c-gray-light));
}
.btn:active {
  transform: scale(0.97);
  box-shadow: -1px -1px 4px var(--c-gray-dark);
  background: linear-gradient(to right bottom, var(--c-white), var(--c-gray-dark));
}
.btn--blue:hover {
  color: var(--c-white);
  background: var(--c-gray-dark);
}
.btn--blue:hover img {
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}
.btn--red:hover {
  color: var(--c-white);
  background: var(--c-red);
}
.btn--red:hover img {
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.inputMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 0;
  min-width: 10rem;
  width: 33.33%;
  height: 90%;
  border: none;
  box-shadow: 1px 0px 4px var(--c-gray-dark);
  z-index: 50;
  transition: all 0.3s;
  background: linear-gradient(to right bottom, var(--c-white), var(--c-gray-light));
}
.inputMenu input[type=number] {
  text-align: center;
  font-weight: 600;
  color: var(--c-gray-dark);
  background: linear-gradient(to right bottom, var(--c-white), var(--c-gray-light));
  border-radius: 5px;
  width: 8rem;
}
.inputMenu input[type=button] {
  text-align: center;
  font-weight: 600;
  background: var(--c-gray-dark);
  color: var(--c-gray-light);
  transition: all 0.2s;
  width: 8rem;
}
.inputMenu input[type=button]:hover {
  background: var(--c-gray-light);
  color: var(--c-gray-dark);
  transform: translateY(-0.4px);
}
.inputMenu input[type=button]:active {
  transform: translateY(0.4px);
  background: var(--c-gray-light);
  color: var(--c-gray-dark);
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.5rem;
  left: 4px;
  bottom: 3.8px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--c-red-lighter);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(1.7rem);
}

/*# sourceMappingURL=style.css.map */
